Project 3
========================
1 - *For your database, you should download and install the appropriate version
of the Chinook database for your RDBMS, which is available here, under the
downloads tab: https://chinookdatabase.codeplex.com/*
Download can now be found here: https://github.com/lerocha/chinook-database/tree/master/ChinookDatabase/DataSources

In [17]:
#import pandas and numpy
import numpy as np
import pandas as pd
import sqlite3

# Set some pandas options for controlling output
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

**Connect to the SQL Lite Database**

In [18]:
connection = sqlite3.connect("Chinook_Sqlite.sqlite")

Your task is to create a pandas DataFrame that displays Customers’ Last
Name and First Name, and each customer’s purchased Track names and
Album Titles.

In [19]:
#Using Inner Joins since we only want data that is available on both tables

results = pd.io.sql.read_sql('''SELECT customer.firstname, customer.lastname, track.name, album.Title
                              FROM customer
                              INNER JOIN invoice ON customer.CustomerID = invoice.CustomerID
                              INNER JOIN invoiceline ON invoiceline.invoiceID = invoice.invoiceID
                              INNER JOIN track ON invoiceline.trackID = track.trackID
                              INNER JOIN album ON album.albumid = track.albumid
                              ORDER BY customer.LastName, customer.Firstname''', connection)

The information should be sorted by Customer LastName then Customer FirstName.

In [20]:
results

     FirstName    LastName                                               Name  \
0      Roberto     Almeida                            Right Next Door to Hell
1      Roberto     Almeida                                     In The Evening
2      Roberto     Almeida                                   Fool In The Rain
3      Roberto     Almeida  Saudade Dos Aviões Da Panair (Conversando No Bar)
4      Roberto     Almeida                             Caso Você Queira Saber
...        ...         ...                                                ...
2235      Fynn  Zimmermann                                    Nothin' To Lose
2236      Fynn  Zimmermann                         Since I've Been Loving You
2237      Fynn  Zimmermann                                Going To California
2238      Fynn  Zimmermann                                 We're Gonna Groove
2239      Fynn  Zimmermann                                         Ozone Baby

                             Title
0              Use Your Illusion I
1          In Through The Out Door
2          In Through The Out Door
3                            Minas
4                            Minas
...                            ...
2235              Unplugged [Live]
2236  BBC Sessions [Disc 2] [Live]
2237  BBC Sessions [Disc 2] [Live]
2238                          Coda
2239                          Coda

[2240 rows x 4 columns]